/* Layout
   ========================================================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: Century, "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-size: 95%;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #fff;
  color: #111;
}

.container {
  background-color: #fff;
  margin: 0 auto;
  padding: 1rem;
  max-width: 28rem;
  overflow-x: hidden;
  width: 100%;
}

#front {
  text-align: center;
  padding-bottom: 1rem;
}


/* Typography
   ========================================================================== */

h1 {
  font-size: 1.5rem;
  margin: 3rem 0;
  padding-top: 5rem;
  page-break-before: right;
  text-align: center;
  text-transform: uppercase;
}
#front h1 {
  margin-bottom: 1.5rem;
  margin-top: 0;
  padding-top: 0;
  page-break-before: avoid;
}
h1.title {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.2rem;
  margin: .67rem 0;
  text-align: center;
}
h2.top {
  padding-top: 7.6rem;
  page-break-before: right;
}

h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

p {
  margin: .25rem 0;
  text-align: justify;
  text-indent: 1rem;
}
#front p, p.star {
  font-size: .8rem;
  text-align: center;
  text-indent: 0;
}

span {
  font-variant: small-caps;
}

hr {
  background-color: #111;
  border: 0;
  height: 1px;
  margin: 2rem 11rem;
}

/* page blanche existant dans l'édition originale */
/* (rendue à la visualisation, mais pas à l'impression) */
.blank {
  height: 15rem;
}

/* page blanche au dos de la couverture et de l'a-propos */
/* (espace à la visualisation, page vide à l'impression) */
.verso {
  height: 15rem;
  page-break-before: always;
}


/* Page à-propos
   ========================================================================== */

#about {
  font-size: .9rem;
}

#about ul {
  margin: 0;
  padding: 0;
}

#about ul li {
  margin: .25rem 0 .25rem 1rem;
  padding: 0;
  text-align: justify;
}


/* Menu de navigation
   ========================================================================== */

#nav {
  position: fixed;
  left: 50%;
  margin-left: 14.6rem;
  top: .5rem;
}
#nav a {
  color: blue;
  display: block;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
}
#nav a:hover { color: white; text-decoration: none; }
#nav a:visited { color: blue; }


/* Numérotation pages d'origine, en haut de page
   (rendue à la visualisation, mais pas à l'impression)
   ========================================================================== */

a.p {
  border-top: 1px solid #ddd;
  color: #ccc;
  display: block;
  font-size: .7rem;
  left: 0;
  letter-spacing: -1px;
  position: absolute;
  text-align: left;
  text-decoration: none;
  text-indent: .1rem;
  width: 100%;
}
a.p:hover { text-decoration: none; }


/* Numérotation notes bas de page (en fin de chapitre plutôt)
   ========================================================================== */

a.n {
  color:  #777;
  text-decoration: none;
}
a.n:hover { text-decoration: none; }


/* Table des matières
   ========================================================================== */

#toc ol {
  color: #888;
  font-size: .9rem;
  line-height: 1.25rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 1rem;
  text-indent: -.5rem;
}
#toc li a {
  display: inline-block;
  text-decoration: none;
  width: 91%;
}
#toc li a:hover {
  text-decoration: underline;
}
#toc li.off a {
  color: #888;
  font-style: italic;
}
#toc li.off a:hover {
  text-decoration: none;
}


/* Smartphone (recents)
   ========================================================================== */

@media (min-width: 23rem) {
  html { font-size: 105%; }
  .container {
    padding: 1.5rem;
  }
}


/* Smartphone (portraits)
   ========================================================================== */

@media (max-width: 27.9rem) {
  /* https://justmarkup.com/log/2015/07/31/dealing-with-long-words-in-css/ */
  p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
}


/* Smartphone (landscape)
   ========================================================================== */

@media (min-width: 28rem) {
  body { background-color: #ddd; }
  .container {
    padding: 1rem 1.5rem;
    max-width: 29rem;
    width: 99%
  }
  #toc li a { width: 95%; }
  #front p { font-size: 1rem; }
}


/* Tablet & desktop
   ========================================================================== */

@media (min-width: 48rem) {
  html { font-size: 130%; }
  .container {
    padding: 2rem 4rem;
    max-width: 34rem;
    width: 100%
  }
  #nav { margin-left: 17.1rem; }
  h1.title { font-size: 3rem; }
  a.p {
    left: 50%;
    margin-left: -17rem;
    width: 34rem;
  }
}


/* Imprimante
   ========================================================================== */

@page {
  margin: 2.33cm 0; /* en cm pour IE */
}

@media print {
  html { font-size: 130%; }
  .container {
    padding: 2rem 4rem;
    max-width: 34rem;
    width: 100%
    orphans: 1;    /* c'est comme ça sur */
    widows: 1;     /* l'édition originale */
  }
  #toc li a { width: 23rem; }
  h1.title { font-size: 3rem; }
  body { background-color: #fff; }
  #front h1 { padding-top: 0; }
  #nav, a.p, .blank { display: none; }
  .verso { height: 1rem; }
}
