/* Layout
   ========================================================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 95%/1.5 "Century", "Century Gothic", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #fff;
  color: #111;
}

.container {
  background-color: #fff;
  margin: 0 auto;
  padding: 1rem;
  max-width: 28rem;
  overflow-x: hidden;
  width: 100%;
}

#couverture {
  text-align: center;
  padding-bottom: 1rem;
}


/* Typography
   ========================================================================== */

h1 {
  font-size: 1.5rem;
  margin: 3rem 0;
  padding-top: 5rem;
  page-break-before: always;
  text-align: center;
  text-transform: uppercase;
}
#couverture h1 {
  margin-bottom: 1.5rem;
  margin-top: 0;
  padding-top: 0;
  page-break-before: avoid;
}

h1.titre {
  font-size: 2.5rem;
  padding-top: 0;
}

h2 {
  font-size: 1.2rem;
  margin: .67rem 0;
  text-align: center;
}

h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

p {
  margin: .25rem 0;
  text-align: justify;
  text-indent: 1rem;
}
#couverture p, p.star {
  font-size: .85rem;
  text-align: center;
  text-indent: 0;
}
#apropos p {
  font-size: .9rem;
}

span {
  font-variant: small-caps;
}

hr {
  margin: 2rem 11rem;
}

#apropos ul {
  margin: 0;
  padding: 0;
}
#apropos ul li {
  font-size: .9rem;
  margin: .25rem 0 .25rem 1rem;
  padding: 0;
  text-align: justify;
}

.blankpage {
  height: 1rem;
}


/* Numérotation d'origine (en haut de page)
   ========================================================================== */

a.p {
  border-top: 1px solid #ddd;
  color: #ccc;
  display: block;
  font-size: .75rem;
  left: 0;
  letter-spacing: -1px;
  position: absolute;
  text-align: left;
  text-decoration: none;
  text-indent: .1rem;
  width: 100%;
}

/* Smartphone (recents)
   ========================================================================== */

@media (min-width: 23rem) {
  html { font: 105%/1.5 "Century", "Century Gothic", sans-serif; }
 .container {
    padding: 1.5rem;
  }
}


/* Smartphone (portraits)
   ========================================================================== */

@media (max-width: 27.9rem) {
  /* https://justmarkup.com/log/2015/07/31/dealing-with-long-words-in-css/ */
  p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
}


/* Smartphone (landscape)
   ========================================================================== */

@media (min-width: 28rem) {
  body { background-color: #ddd; }
 .container {
    padding: 1rem 1.5rem;
    max-width: 34rem;
    width: 99%
  }
  #couverture p { font-size: 1rem; }
}


/* Tablet & desktop
   ========================================================================== */

@media (min-width: 48rem) {
  html { font: 130%/1.5 "Century", "Century Gothic", sans-serif; }
 .container {
    padding: 2rem 4rem;
  }
  h1.titre { font-size: 3rem; }
  a.p {
    left: 50%;
    margin-left: -17rem;
    width: 34rem;
  }
}


/* Imprimante
   ========================================================================== */

@media print {
  @page { margin: 5.5rem 0; }
  html { font: 130%/1.5 "Century", "Century Gothic", sans-serif; }
 .container {
    padding: 2rem 4rem;
  }
  h1.titre { font-size: 3rem; }
  body { background-color: #fff; }
  #couverture h1 { padding-top: 0; }
  a.p { display: none; }
  .blankpage { height: 15rem; }
}
